<h1 class="text-center">Welcome to Hogwarts</h1>

<div class="tabla">
<table class="container table text-white">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">House</th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.location %></td>
        <td><%= character.house%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>